h1{
    text-align: center;
    color: chocolate;
}

h2{
    text-align: center;  
}

p{
    text-align: center; 
}

body{
    background-color: antiquewhite;
    animation-name: example;
    animation-duration: 4s;
    /* background-image: url(pic123.png); */
 
}