#submit
{
 background-color: "yellow";
    color: blue;
}
#submi
{
    background-color: brown;
    color: antiquewhite;
}

#subm
{
    background-color: blueviolet;
    color:bisque;
}

#sub
{
    background-color:chocolate;
    color:chartreuse  
}

